*{   
    a{
        text-decoration: none;
        color : #fff;
    }
    p{ 
        color: white;
    }
    h3 {
        color: #000000;
    }
    h3 ~ h3 { 
        color: #074AF8;
    }
     h3 ~ p { 
        color:  black;
    }
}
header{
    height: fit-content;
    background-color: #000000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo a{
    text-decoration: none;
    color : #fff;
}
#logo{
    font-size: larger;
    font-weight: 700;
    text-align: center;
    display: block;
    padding-top: 10px ;
}
#header-link {
    display: flex;
    flex-wrap: nowrap;
    font-size: large;
    font-weight: 500;
    color: rgb(253, 253, 253);
    text-align: center;
    width: 95%;
    justify-content: space-evenly;
    margin :  10px ;
}
#header-link a{
    font-size: large;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(253, 253, 253);
    padding-right: 5px ;
    text-decoration: none;
}
.section-1{
    background-color: #000000;
    color: #fff;
    border-top : 1px solid  #ffffffa9;
    height: fit-content;
}
.section-container{
  margin: 10px  ;
  width: 95%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
#section-1-item:nth-child(3) {
    border-right: none;
  }
  
#section-1-item{
    width: 95%;
    border-right: 1px solid #ffffff;
    padding-left: 10px ;
    height: fit-content;
}
#section-container1{
    margin-left: 10px ;
    width: 95%;
    height: fit-content;
}
#section-1-header{
    box-sizing: content-box;
    width: 95%;
    font-weight: 500;
    font-family: serif;
    font-style: oblique;
    padding: 5px ;
    text-shadow: #ffffff ;
}
#section-paragraph{
    font-size: large;
    box-sizing: content-box;
    width: 95%;
    font-weight: 500;
    font-family: serif;
    font-style: italic;
    padding: 5px ;
    margin-bottom: 0 ;
} 
#contact-image{
    width: 100%;
    background-size: cover;
    background-image: url(../img/IMG_0537.JPG);
    height:  calc(90vh - 100px);
    background-position: center;
}
section{
    background-color: black;
    height: fit-content;
}
#grid{
    display: grid;
    grid-template-columns: 300px  ;
    grid-template-rows: 300px;
    justify-content: center;
    /* border: 2px solid red ; */
}
.grid-item{
    padding: 10px;
    margin: 5px 10px;
    background-color: #fff;
    border: 2px solid grey;
}
.grid-item p{
    font-size: small;
}
#section-2{
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
}
.section-2-header{
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
}
#Trusted-section{
    background-color: #1C1B1B;

    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 100px 100px ;
    justify-content: center;
    grid-column-gap: 20px ;
    grid-row-gap : 10px;
    text-align: center;
    line-height: 100px;
}
#Trusted-section-item{
   border: 1px solid grey;
   /* margin: 5px; */
   background-color: #070707;
}
#after{
    height: 200px;
}