*{
    body{
    background-color: #000000;
    margin: 0;
    }
    
    a{
        text-decoration: none;
        color : #fff;
    }
    p{ 
        color: white;
    }
    h3 {
        color: #000000;
    }
    h3 ~ h3 { 
        color: #074AF8;
    }
     h3 ~ p { 
        color:  black;
    }
}
header{
    height: fit-content;
    background-color: #000000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo a{
    text-decoration: none;
    color : #fff;
}
#logo{
    font-size: larger;
    font-weight: 700;
    text-align: center;
    display: block;
    padding-top: 10px ;
}
#header-link {
    display: flex;
    flex-wrap: nowrap;
    font-size: large;
    font-weight: 500;
    color: rgb(253, 253, 253);
    text-align: center;
    width: 95%;
    justify-content: space-evenly;
    margin :  10px ;
}
#header-link a{
    font-size: large;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(253, 253, 253);
    padding-right: 5px ;
    text-decoration: none;
}
section{
    background-color: black;
    height: fit-content;
}
.section-1{
    background-color: #000000;
    color: #fff;
    height: fit-content;
}
#section-image{
    width: 96%;
    margin: auto;
    background-size: cover;
    background-image: url(../img/IMG_0537.JPG);
    height:  calc(70vh - 100px);
    background-position: center;
}
.section-container{
  margin: 10px  auto;
  width: 95%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
#section-1-item{
    width: 95%;
    border-right: 1px solid #ffffff;
    padding-left: 10px ;
    height: fit-content;
}
#section-1-item:nth-child(3) {
    border-right: none;
  }
  
#section-container1{
    margin-left: 10px ;
    width: 95%;
    height: fit-content;
}
#section-1-header{
    box-sizing: content-box;
    width: 95%;
    font-weight: 500;
    font-family: serif;
    font-style: oblique;
    text-shadow: #ffffff ;
} 
#section-1-paragraph{
    font-size: large;
    box-sizing: content-box;
    width: 95%;
    font-weight: 500;
    font-family: serif;
    font-style: italic;
    margin-bottom: 0;
} 
#grid{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows:  250px 250px 250px 250px ;
    justify-content: center;
}
.grid-item{
    padding: 10px;
    margin: 5px 10px;
    background-color: #fff;
    border: 2px solid grey;
}
.grid-item p{
    font-size: small;
}
#section-2{
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
}
.section-2-header{
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}
#Trusted-section{
    background-color: #0C0C0C;
    margin-top: 5px;

    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 100px 100px ;
    justify-content: center;
    column-gap: 20px ;
    row-gap : 10px;
    text-align: center;
    line-height: 100px;
}
#Trusted-section-item{
   border: 1px solid grey;
   margin: 5px;
   background-color: #070707;
}
#after{
    height: fit-content;
    color: #1151F4;
    text-align: center;
    padding: 40px;
}
#after h1{
    color: #1151F4;
    padding: 10px 1px;
}
#after h3{
    color: #1151F4;
    padding: 10px 1px;
    text-align: right;
}
#ceo-section{
    background-color: #000000;
}
#contact-image-2{
    width: 96%;
    margin: auto;
    background-size: cover;
    background-image: url(../img/pexels-olly-3756679.jpg);
    height: 50vh;
    background-position: center;
}
#contact-image-2-content{
    color: #000000;
    width: 80%;
    font-size: 28px;
    text-align: center;
    margin: 5px auto ;
    margin-bottom: 0;
    height: 60px;
    line-height: 60px;
    background-color: #074AF8;
    border-bottom: 5px solid #000000;
}

#section-3{
    background-color: #000000;
    height: fit-content;
    padding: 20px;
    color: #fff;
}

#section-3-item{
    background-color: #074AF8;
    height: 80px;
    margin : 2px auto 10px auto;
    display: block;
    font-size: xx-large;
    text-align: center;
    text-transform: capitalize;
    line-height: 80px;
}
#section-3-item-2{
    background-color: #074AF8;
    height: 60px;
    margin: 2px auto 10px auto;
    display: block;
    font-size: small;
    text-align: justify;
    text-transform: capitalize;
    text-wrap: wrap;
    box-sizing: content-box;
    padding: 15px ;
    line-height: 20px;
}
#contact-image-3{
    width: 100%;
    background-size: cover;
    background-image: url(../img/pexels-olly-3860819.jpg);
    height: 90vh;
    background-position: center;
}
#contact-image-3-item{
    width: 50%;
    background-color: #074AF8;
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    margin : 10px auto  auto;
    display: block;
    font-size: large;
    text-align: center;
    text-transform: capitalize;
}
#section-4{
   height: fit-content;
}
#section-5{
    height: fit-content;
 }
#section-5-item{
    color: #fff;
    padding-top: 5px;
    text-align: center;
}
#section-5-images{
    color: #fff;
    display: grid;
    grid-template-columns: 150px 150px ;
    grid-template-rows: 280px 280px 280px ;
    gap: 40px 10px;
    justify-content: center;
    padding-bottom: 12px;
}
.image-container{
    border :2px  solid #ffffff89 ;
    background-color: #D9D9D9;
}
.image-container h3 {
    color : #000000;
    font-size: large;
    font-style: italic;
    text-align: center;
    font-weight: 700;
    padding: 5px ;
    text-transform: capitalize;
    height: 30px;
    margin: 0;
}
.image-container p {
    color : rgb(0, 5, 0);
    text-align: center;
    font-weight: 400;
    font-size: medium;
    height: 30px;
    text-transform: capitalize;
    margin: 0;
}
#section-6{
    height: fit-content;
 }
 #section-6 h4{
    height: fit-content;
    color: #074AF8;
    text-align: center;
    font-size: x-large;
    text-transform: capitalize;
 }
 #section-6 p{
    height: fit-content;
    color: #fff;
    font-size: large;
    text-align: center;
    text-transform: capitalize;
 }
 #map{
    /* border : 2px solid red ; */
    height: 500px ;
    width: 100%;
 }
 #section-7{
    background-color: #074AF8;
    height: 280px;
 }
 #section-7-container{
    height: fit-content;
    padding: 5px;
 }
 #section-7 h4{
    height: fit-content;
    color: #fff;
    text-align: center;
    font-size: x-large;
    text-transform: capitalize;
 }
 #section-7 p{
    height: fit-content;
    color: #fff;
    font-size: large;
    text-align: center;
    text-transform: capitalize;
 }
 #section-7 form {
   background-color: #D9D9D9;
   height: 70px;
   border-radius: 10px ;
   margin: 0 10px;
   box-sizing: content-box;
 }
 input[type = email]{
    outline-style: none;
    background-color: #D9D9D9;
    box-sizing: content-box;
    text-wrap: nowrap;
    margin: 10px;
    border: none;
    font-size: small;
    margin-left: 10px;
    width: 55%;
    color: #000000;
} 
input::placeholder{
    color : #000000;
}
#section-7 button{
    background-color: #074AF8;
    color: #FFFFFF;
    margin:  10px auto;
    width: 30%;
    height: 40px;
    font-size: small;
    text-wrap:nowrap ;
    border: none;
    width: 32%;
    padding: 5px;
}
 #section-8{
    background-color: #22293C;
    height: fit-content;
 }
 #section-8 h6{
    color: #fff;
    height: fit-content;
    text-align: center;
 }
 #section-8 h4{
    color: #074AF8;
    height: fit-content;
    text-align: center;
    padding: 10px; 
}
#section-8 p{
    color: #fff;
    height: fit-content;
    text-align: left;
    font-size: medium;
    font-weight: 400;
    text-wrap: wrap;
    margin: 2px  10px;
 }
 #section-8-container ul{
    text-decoration: none;
    list-style: none;
    height: 40px;
    padding: 10px;
    text-align: left;
    margin: 2px auto 0 auto;
 }
 #section-8-container ul li {
    list-style: none;
 }
 #section-8-container ul li  a{
    list-style: none;
    margin: 2px;
    color: #fff;
    text-decoration: none;
 }
 footer{
    color : #fff;
    background-color: #074AF8;
    height: 40px;
    padding: 10px;
    text-wrap: nowrap;
    font-size: small;
    text-align: center;
    margin-bottom: 0;
}@media screen and ( min-width:480px )  {
    #grid{
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows:  250px 250px ;
        justify-content: center;
    }
    #section-1-header{
       margin: 20px;
       text-align: center;
    } 
    #section-1-paragraph{
        margin:  0 20px;
        text-align: justify;
    } 
    .section-2-header{
        padding: 30px;
    }

    #Trusted-section{
        grid-template-columns: 150px 150px 150px  150px ;
        grid-template-rows: 100px;
    }

    #contact-image-2-content{
        width: 50%;
    }
    #contact-image-3{
        width: 90%;
        margin: auto;
    }
    #section-3-item{
        width: 53%;
    }
    #section-3-item-2{
        height: 40px;
        font-size: medium;
        box-sizing: content-box;
    }
    #section-5-images{
        grid-template-columns: 150px 150px 150px ;
        grid-template-rows: 280px 280px ;
        gap: 50px 100px;
        justify-content: center;
        padding-bottom: 12px;
    }

    #section-7 form {
        margin: 0 20px;
      }
      input[type = email]{
         font-size: small;
         margin-left: 10px;
         width: 60%;
     } 
     input::placeholder{
         color : #000000;
     }
     #section-7 button{
         width: 35%;
     }

  
     #section-8-container{
        margin: 0  5px;
     }
     #section-8-container ul li {
        list-style: none;
     }
     #section-8-container ul li  a{
        list-style: none;
        margin: 5px;
        color: #fff;
        text-decoration: none;
     }
    
}

@media screen and ( min-width:992px ){
    
    #section-image{
        width: 95%;
        margin: auto;
        font-size: x-large;
        font-weight: 900;
    }
    .section-container{
       text-align: center;
       padding: 5px;
      }

      #section-1-paragraph{
        font-size: x-large;
        text-align: center;
        padding: 10px;
        border-bottom: none;
    } 
    #contact-image-2{
        height: 100vh;
        background-position-x: center ;
        background-position-y: top;
        width: 80%;
        margin: auto;
    }
    #contact-image-3{
        margin: auto;
    }

    #section-3-item-2{
        height: 40px;
        line-height: normal;
        font-size: x-large;
        box-sizing: content-box;
        text-align: center;
        width: 85%;

    }
}