*{
    body{
    background-color: rgba(255, 255, 255, 255);
    margin: 0;
    }
    
    a{
        text-decoration: none;
        color : #fff;
    }
    
    p{ 
        color: black;
    }
}
header{
    height: 100px;
    background-color: #000000;
    width: 100%;
}
body{
    background-color: rgba(255, 255, 255, 255);
    margin: 0;
    }
a{
        text-decoration: none;
        color : #fff;
}
#logo{
    font-size: larger;
    font-weight: 700;
    text-align: center;
    display: block;
    padding-top: 10px ;
}
#header-link {
    display: block;
    margin-top: 20px;
    font-size: large;
    font-weight: 500;
    color: rgb(253, 253, 253);
    text-align: center;
}
#header-link a{
    font-size: large;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(253, 253, 253);
    margin: 10px ;
    padding-right: 5px ;
}
.header-hidden-content{
    display: none;
}
#button {
    display: inline;
    border : 2px solid white ; 
    background-color: white ;
    color :  black; 
    border-radius: 8px ;
    height: 50px ;
    display: none ;
}
#index-body{
  width: 100%;
  background-size: cover;
  background-image: url(../img/house.jpg);
  height:  calc(90vh - 100px);
  background-position: center;
}
#index-body-content{
    text-align: left;
    margin: 0  20px  ;
}
#index-body-content h1{
    font-family: sans-serif;
    font-size: 1cm;
    font-weight: 900;
}
#index-body-content p{
    font-weight: 200 ;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif ;
    color: #000000;
}
#index-body-content button{
    font-weight: 500 ;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif ;
    color: #fcfbfb;
    background-color: #000000;
    border-radius: 5px;
    height:50px;
    line-height: 40px;
    border: 2px solid  rgb(157, 157, 157);
    box-shadow: inset;
}
footer{
    margin-top: 20px;
    height: fit-content;
    background-color: #cccccc;
}
footer main {
    display: flex;
}
#footer-section-1{
    margin: 10px 5px ;
    background-image: url(../img/key.jpg);
    background-position: center;
    height: 200px;
    width: 50%;
    background-repeat: no-repeat;
    background-size:cover;
}

#footer-section-2{
    margin: 10px 5px ;
    width: 50%;
    height: 200px;
}
#footer-section-2 ul{
    margin: 0;
    height: fit-content;
    padding: 0; 
    width: 100%;
    display: flex;
    flex-direction: row;
}
#footer-section-2 ul li{
    border: 1px solid #000000;
    list-style: none;
    color: #000;
    font-family: sans-serif;
    text-align: center;
    text-transform: capitalize;
    font-size: 12px;
    width: 33.33%;
    box-sizing: border-box;
    margin: 0 2px 0 0;
    height: 40px;
    padding: 2px;
}
 div li{
    list-style: none;
    margin:  0  0 5px 0 ;
    border: #000000 1px solid;
    height: 48px;
    margin: 5px 0 5px 0;
    padding: 5px ;
}
#footer-long-text li {
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    text-align: left;
}
#footer-2{
    display: block;
    margin-left: 2px ;
}
#footer-section-3{
    height: 100px;
    justify-content: space-between;
}
#footer-section-3-item-1{
    margin: 1px 15px ;
    height: 80px;
    padding: 0  0  20px;
    width: 30%;
    border-radius: 80%; 
    background-color: #000000; 
    display: inline-block;
}

#footer-section-3-item-2{
    margin-top: 5px ;
    float: right;
    font: 2cm sans-serif;
    margin-right: 10px;
}
#footer-text{
    height:100px ;
}
#footer-text a{
    color: #fff;
    text-decoration: underline;
    margin: 0 10px ;
}
#footer-text p{
    margin: 10px 10px ;
}
/* tablet views fo index page */
@media screen and ( min-width:480px )  {
    header{
     background-color: #fcfbfb;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
    #logo{
        font-size: xx-large;
        font-weight: 700;
        padding-top: 0;
        text-align: center;
        color: #000000;
    }
    #header-link {
        font-size: large;
        font-weight: 500;
        color: rgb(253, 253, 253);
        text-align: center;
    }
    #header-link a{
        font-size: large;
        font-weight: 500;
        font-family: 'Times New Roman', Times, serif;
        color: rgb(13, 13, 13);
        padding-right: 5px ;
    }
    
    #button {
        display: block;
        border : 2px solid #000000 ; 
        background-color: white ;
        color :  rgb(236, 232, 232); 
        border-radius: 8px ;
        height: 30px ;
    }
    /* additional style to change color and display type on tablet view */
    a {
        color : #000000; 
    }
    .header-hidden-content{
        display: inline;
    }

    /* styling  for main section*/
    header  ~  main {
       display: flex;
       flex-direction: row-reverse;
    }
    #index-body{
        background-image: url(img/house.jpg);
        width: 180%;
        background-size: cover;
        height: 650px ;
        background-position: center;
      }
      #index-body-content{
          text-align: left;
          margin: 0  0 0 40px;
          display: flex;
          flex-direction: column;
          align-content: end;
      }
      #index-body-content h1{
          font-family: sans-serif;
          font-size: 1cm;
          font-weight: 900;
          line-height: 40px ;
      }
      #index-body-content p{
          font-weight: 200 ;
          font-size: 20px;  
          font-family: Arial, Helvetica, sans-serif      ;
          color: #000000;
          margin: 80px  0;
          align-self: flex-start;
      }
      #index-body-content button{
          font-weight: 500 ;
          font-size: 20px;
          font-family: Arial, Helvetica, sans-serif ;
          background-color: #cccccc;
          border-radius: 5px;
          height:50px;
          line-height: 40px;
          border: 2px solid  rgb(157, 157, 157);
          box-shadow: inset;
          width: 250px ;
      }
      footer{
        display: flex;
        flex-direction: row;
      }
      footer   #footer-1 {
        width: 55%;
      }
      #footer-section-3{
        align-self: flex-start;
        display: inline;
      }
      #footer-section-4{
        display: inline;
        width: 40%;
        align-self: flex-end;
      }
      #footer-2{
        display: block;
        margin-left: 2px ;
        border-left: 2px white solid ;
    }
    #footer-text{
        margin-left: 10px ;
    }
    #footer-text a{
        text-decoration: underline;
    }

}
 /* for bigger tablet mode  */
@media screen and ( min-width:768px ) {
        header{
            display: block;
            background-color: #000;
            height: 120px;
            padding-top: 10px ;
        }
        #logo a{
            font-size: xx-large;
            font-weight: 700;
            text-align: center;
            color: #fff;
        }
        #header-link a{
            color : white;
        }
        #button {
            display: none;
        }
        #index-body{
            background-image: url(../img/house.jpg);
            width: 180%;
            background-size: cover;
            height: 700px ;
            background-position: center;
          }
}
@media screen and ( min-width:992px ) {
        header{
            background-color: #fff;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }  
         #logo a {
            color :rgb(13, 13, 13);
            margin-left : -80px;
        }
        #header-link a {
            color :rgb(13, 13, 13);   
        }
        #logo{
            font-size: xx-large;
            font-weight: 700;
            padding-top: 0;
            text-align: center;
            color: #141313;
        }
    #header-link {
        font-size: x-large;
        font-weight: 700;
        color: rgb(253, 253, 253);
        text-align: center;
        margin-bottom: 25px;
    }
        
    #button {
        display: block;
        border : 2px solid #000000 ; 
        background-color: white ;
        color :  rgb(236, 232, 232); 
        border-radius: 8px ;
        height: 40px ;
        font-size: larger;
    }
}
@media screen and ( min-width:1200px ) {
    header{
        background-color: #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }  
     #logo a {
        color :rgb(13, 13, 13);
    }
     a {
        color :rgb(13, 13, 13);
        width: 140px;
    }
    #logo{
        font-size: xx-large;
        font-weight: 700;
        padding-top: 0;
        text-align: center;
        color: #141313;
        margin-left: 50px;

    }
#header-link {
    font-size: x-large;
    font-weight: 700;
    color: rgb(253, 253, 253);
    text-align: center;
    margin-bottom: 25px;
    width: 800px;
}
#header-link a {
    width: 200px;
}
    
#button {
    display: block;
    border : 2px solid #000000 ; 
    background-color: white ;
    color :  rgb(236, 232, 232); 
    border-radius: 8px ;
    height: 40px ;
    font-size: larger;
    margin-right: 80px;
}
}